/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: auto;
    background: #fff2f4;
    line-height: inherit;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.fa-chevron-down{
    color: red;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 220px;
    max-width: 220px;
    background: #fff;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background: #fff;
}

#sidebar ul.components {
    padding-right: 30px;
    padding-left: 42px;
}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: red;
    background: #fff;
}

#sidebar .active {
    color: #fff;
    background-color: red;
    padding: 14px;
}

.user-font{
    font-size: 18px;
    margin-right: 2px;
}

.admin-font{
    font-size: 14px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.verticalLine {
    font-size: 32px;
}

.verticalLine::before{
    content: '';
    position: absolute;
    background-color: red;
    width: 3px;
    height: 8%;
}

.verticalLine::first-letter {
    font-size: 45px;
}

.btn-circle{
    border-radius: 50%;
    position: relative;
    bottom: 28px;
    background-color: yellow;
    right: 20px;
    width: 55px;
    height: 55px;
}

.btn-circle-grey{
    background-color: lightgray;
    border-radius: 50%;
    position: relative;
    bottom: 28px;
    right: 20px;
    width: 55px;
    height: 55px;
}

.cst-border{
    border: 0px;
}

.card-font{
    font-size: 11px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    
}

.header{
    background: url(maxresdefault.jpg);
    height: 570px;
    background-size: cover;
    position: relative;
    background: red;
    overflow: hidden;
    color: #fff;
    padding-left: 30px;
}

.header .front-content{
    padding: 50px;
    z-index: 2;
    position: relative;
    color: #fff;
}

.header::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.imp-btn{
    border-radius: 42px;
    font-size: 14px;
    width: 11%;
    background-color: yellow;
    border-color: yellow;
}

.data-font{
    font-size: 38px;
}

.post-font{
    font-size: 66px;
}

.line-height{
    line-height: 1.5;
}

.long-arrow-yellow{
    color: yellow;
}

.long-arrow-red{
    color: red;
}

.nav-tabs .nav-item{
     width: 30%;
}

.table thead th{
    color:red;
}

.light-grey{
    background-color: lightgray;
    /* border-bottom-left-radius: 18px; */
}

.dark-grey{
    background-color: darkgray;
    border-top-right-radius: 18px;
}

.nav-link{
    padding: 1.5rem 1rem;
    border: 0px;
    font-size: 20px;
}

.nav-tabs{
    border: none;
}

.card-round{
    border: 0px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
}

.border-white{
    border-top-left-radius: 18px !important;
    background-color: #fff;
}

.table thead th{
    border-bottom: none;;
}

.table th{
    border-top: none;
}

.table tr{
    border-bottom: 1px solid #dee2e6;
}

.table tr:last-child{
    border-bottom: none;
}

.tab-content{
    overflow: hidden;
    overflow-x: scroll;
}

.border-top-radius{
    border-top-right-radius: 18px !important;
}

.img-responsive{
    width: 100%;   
    height: auto;
}


/* .nav-tabs .nav-link.active{
    border: 0px;
    font-size: 25px;
    border-radius: 18px;
} */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        min-width: 250px;
        max-width: 220px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .imp-btn{
        width: 50%;
    }
    .header{
        padding-left: 0px;
    }
    .header .front-content{
        padding: 90px 23px;
    }
    .data-font {
        font-size: 26px;
    }
    .post-font {
        font-size: 32px;
    }
    .nav-link{
        padding: 0.5rem 0rem;
        padding-left: 2px;
        font-size: 15px;
    }
    .verticalLine{
        font-size: 23px;
    }
}

@media (min-width:1281px) {
    .navbar{
        display: none;
    }
}